h1 {
    color: brown;
    text-align: center;
}

ul li {
    display: inline-block;
    border: 1px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    background-color: lightblue;
}

ul {
    text-align: center;
    border-radius: 10 px;
    padding: 10px;
}

ul li a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white
}

body {
    background-color;
}